# vim files
*.swp

# created by npm
node_modules/

# don't commit the pre-publish temp dir
.publish

# build output
build

# i'm not sure we should ignore typings,
# but since you can pull them down from
# a manager, i'm leaving them out
typings

# a copy of what would be deployed so i 
# can refresh my browser
local

# vscode settings
.vscode